@model BigSchool.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>
<div class="row">
    <ul>
        @foreach (var lecturer in Model.FollowingCourses)
        {
            <li>
                <div class="details">
                    <span class="lecturer">
                        @lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button data-user-id="@lecturer.Id" class="btn btn-info btn-sm js-toggle-follow following">UnFollow</button>

                        }
                    </span>
                </div>
            </li>
        }
    </ul>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $(".js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Sth failed!");
                        });
                });
                //$(".js-toggle-unfollow").click(function (e) {
                //    var button = $(e.target);
                //    $.post("/api/unfollow", { followeeId: button.attr("data-user-id") })
                //        .done(function () {
                //            button.removeClass("btn-info").addClass("btn-default").text("follow");
                //        })
                //        .fail(function () {
                //            alert("Sth failed!");
                //        });
                //});


                $(".js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    if (button.hasClass("following")) {
                        bootbox.confirm("Are u sure to unfollow this lecturer?",
                            function () {
                                $.ajax({
                                    url: "/api/unfollow/" + button.attr("data-user-id"),
                                    method: "DELETE"
                                })
                                    .done(function () {
                                        button
                                            .removeClass("btn-info following")
                                            .addClass("btn-default")
                                            .text("Follow");
                                    })
                                    .fail(function () {
                                        alert("Sth failed.");
                                    });
                            });
                    }
                   

                });
            

            });
        </script>
    }

</div>

